{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_task_new' ? 'Nouveau Projet' : (project.name) %}
{% block title %}{{ action }} - {{ parent()}}{% endblock %}

{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>{{ action }}</h1>
            </div>
        </header>
        <div id="content">
            {{ form_start(form) }}
                <div>
                    {{ form_row(form.name) }}
                </div>
                <div>
                    {{ form_row(form.employees) }}
                </div>
                <br>
                <button type="submit" class="button button-submit">Continuer</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}