{% extends 'base.html.twig' %}

{% block header %}
    <h1>Équipe</h1>
{% endblock %}       

{% block body %}
    <table id="team-container">
        <thead>
            <tr>
            <th>Prénom, Nom</th>
            <th>Statut</th>
            <th>Rôle</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <div class="employee-infos">
                            <div class="employee-avatar">
                                {{employee.firstname|slice(0, 1 )|upper }}{{employee.name|slice(0, 1 )|upper }}
                            </div>
                            <div class="employee-coords">
                                <strong>{{employee.firstname}} {{employee.name}}</strong>
                                <span>{{employee.email}}</span>
                            </div>
                        </div>
                    </td>
                    <td>{{employee.status}}</td>
                    <td>
                        {% if employee.admin == 1 %}
                            Chef de projet
                        {% else %}
                            Collaborateur
                        {% endif %}
                    </td>
                    <td>
                        <a class="button button-edit-team" href="{{path('app_employee_edit', {id: employee.id})}}">
                        Éditer
                        </a>
                        <a class="delete-team" href="{{path('app_employee_remove', {id: employee.id})}}">
                        Supprimer
                        </a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
