{% extends 'base.html.twig' %}

{% block title %}{{project.name}} - {{ parent()}}{% endblock %}

{% block header %}
    <div class="flex-header">
        <h1>{{project.name}}</h1>
        <div class="user-list">
        {# Affichage des Employées participant au project, affiche #NA si aucun affecté #}
            {% for employee in project.employees %}
                <div class="avatar">{{employee.firstname|slice(0, 1 )|upper }}{{employee.name|slice(0, 1 )|upper }}</div>
            {% else %}
                <div class="avatar">#NA</div> {# A personaliser si besoin #}
            {% endfor %}
            
        </div>
        <a class="button" href="{{path ('app_project_edit', {id: project.id})}}">Modifier</a>
    </div>
{% endblock %}
            
{% block body %}
{% set status = ['To Do', 'Doing', 'Done'] %}
    <div id="tasks-container">
    {% for selectedStatus in status %}
        <div class="task-column">
            <h2>{{selectedStatus}}</h2>
            <div class="tasks-list">
            {% for task in project.tasks %}
                {% if task.status == selectedStatus %}
                    <a class="task" href="{{path('app_task_edit', {project_id: project.id, task_id: task.id})}}">
                        <h3>{{task.title}}</h3>
                        <p>{{task.description}}</p>
                        <div class="task-infos">
                            {% if task.deadline is not null %}
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i>
                                    {{task.deadline|date("d/m/y")}}
                                </div>    
                            {% endif %}
                            {% if task.employee is not null %}
                                <div class="mini-user">
                                    {{task.employee.name|slice(0, 1 )|upper }}{{task.employee.firstname|slice(0, 1 )|upper }}
                                </div>  
                            {% endif %}
                        </div>
                    </a>    
                {% endif %}
            {% endfor %}
            <a href="{{path('app_task_new', {project_id: project.id})}}" class="task-add">
            + Ajouter une tâche
            </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
